@model IEnumerable<TeamMember>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Role</td>
               

                <td>
                    <a asp-action="update" asp-controller="Team" asp-route-id="@item.MemberId" class="btn btn-dark">Update</a>
                    <a asp-action="details" asp-controller="Project" asp-route-id="@item.MemberId" class="btn btn-outline-primary">details</a>
                </td>
            </tr>

        }


    </tbody>
</table>